---
layout: default
---

<div class="post">
    <div style="padding: 1rem; border: 1px solid #a0a1b3; margin-bottom: 1.5rem;">
        <div data-tf-live="01HX7EV2691829VFVPTQP2A92A"></div><script src="//embed.typeform.com/next/embed.js"></script>
        <p style="margin-top: 1.5rem;">Let us know what type of content you'd like to see more of. Fill out our <strong>three question survey</strong>.</p>
    </div>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
      {% for tag in page.tags %}
        {% if tag contains "Series"%}
          {% assign series-tag = tag %}
        {% endif %}
      {% endfor %}
      {% if series-tag %}
        <p class="series-flag">This post is <em>one</em> of a <a class="without-style" href="/tags/?tag={{ series-tag | slugify }}">series of posts</a> on {{ series-tag | remove: " Series" }}.</p>
      {% endif %}
    <div class="post-details">
      <p class="post-details--date">{{ page.date | date: "%b %-d, %Y" }}</p>
      {% for author in site.authors %}
        {% if author.title == page.Author %}
          {% assign author_link = author.url %}
        {% endif %}
      {% endfor %}
      {% assign author_slug = page.Author | slugify %}
      <p class="post-details--byline">By {% if author_link contains author_slug %}<a href="/authors/{{ page.Author | downcase | split: ' ' | join: '-'  }}/" class="without-style">{% endif %}{% if page.Author %}{{ page.Author | markdownify | remove: '<p>' | remove: '</p>' }}{% endif %}{% if author_link contains author_slug %}</a>{% endif %}</p>
      <p class="post-details--tags">Tags: {% for tag in page.tags %}<span class="post-topic"><a href="/tags/?tag={{ tag | downcase | split:' ' | join: '-'}}" class="without-style">{{ tag }}</a></span>{% unless forloop.last %} • {% endunless %}{% endfor %}</p>
    </div>
  </header>

  <article class="post-content">
    {{ content }}
      <!-- <div class="fb-comments cf" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5"></div> -->
  </article>
</div>
